.card1{ 
    width: 300px;
    padding: 0 1px;
    margin-top: 28px;
    position: static !important;
    /* cursor: pointer; */
}

.content1{
    width: 300px;
    gap: 10px;
    /* border-radius: 12px; */
    border: 1px solid #F0F0F0;
    opacity: 0px;
    background-color: white;
    position: relative;
}

.delete-product-btn{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 50%;
    background-color: red;
    color: white;
    border: none;
}
.content1 img{
    width: 299px;
    height: 300px;
    object-fit: cover;
}

.content1 .content1-box{
    padding: 20px;
}
.content1 div h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #191919;
    margin-top: 16px;
    margin-bottom: 12px;
}
.content1 div p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #191919;
}
.content1 div .price{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: right;
    color: #ff7010;
}

.price-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-btn .choose-btn{
    border: none;
    background-color: #ff7010;
    color: white;
    width: Hug (131px)px;
    height: Hug (48px)px;
    top: 96px;
    padding: 13px 32px 13px 32px;
    gap: 10px;
    border-radius: 6px;
    opacity: 0px;

}


@media screen and (max-width: 394px) {
    .card1{
    margin-top: 12px;
    }
    .content1{
        display: flex;
        gap: 12px;
        padding: 12px;
        width: 350px;
    }
    .content1 img{
        width: 100px;
        height: 100px;
    }
    .content1 .content1-box{
        padding: 0;
    }
    .content1 .content1-box h4{
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        text-align: left;
        margin-bottom: 8px;
    }
    .content1 .content1-box p{
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        margin-bottom: 10px;
    }
    .content1 .content1-box .price-btn {}
    .content1 .content1-box .price-btn .choose-btn {
        display: none;
    }
    .content1 .content1-box .price-btn .price {
        background-color: #FFEEE2;
        padding: 7px 16px;
        border-radius: 4px;
    }
}