.date-title-sign{

}
.date-input{
    margin: 10px auto 20px auto;
}

.signup2{
    height: 130vh;
}
.sign-btn{
    display: block;
    margin: auto;
    margin-top: 25px;
    width: 320px;
    height: 48px;
    top: 520px;
    left: 680px;
    padding: 13px 40px 13px 40px;
    gap: 10px;
    border-radius: 6px ;
    opacity: 0px;
    background-color: #FF7010;
    color: white;
    border: none;
    cursor: pointer;

}